html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #6096BA;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #274C77;
  text-shadow: 3px 3px 1px rgb(188, 185, 185);
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #E7ECEF;
  padding: 0 20px 20px 20px;
  border: 5px solid #274C77;
}

img {
  display: block;
  margin: 0 auto;
}
